@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-family: 'Urbanist', sans-serif;
  }

  html {
    font-family: var(--font-family);
  }
}
body {
  background-color: #000000;
  overflow-x: hidden;
}